{% block content %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<title>Madhavan Seshadri's Website</title>
<!-- Bootstrap Core CSS -->
{% load staticfiles %}
<link href={% static "css/bootstrap.min.css" %} rel="stylesheet">
<!-- Custom CSS -->
<link href={% static "css/theme.css"%} rel="stylesheet">
<!-- Custom Fonts -->
<link href={% static "css/font-awesome.min.css"%} rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700,400italic,700italic" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<!-- Navigation -->
<script>
    </script>


<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
<div class="container">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
		<i class="fa fa-bars"></i>
		</button>
		<a class="navbar-brand page-scroll" href="homepage.html">
		Madhavan Seshadri </a>
	</div>
	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse navbar-right navbar-main-collapse">
		<ul class="nav navbar-nav">
			<li>
			<a href="/homepage">Home</a>
			</li>
			<li>
			<a href="/projects">Projects</a>
			</li>
            <li>
			<a href="/entrepreneurship">Entrepreneurship</a>
			</li>
			<li>
			<a href="/explorations">Explorations</a>
			</li>
		</ul>
	</div>
	<!-- /.navbar-collapse -->
</div>
<!-- /.container -->
</nav>
<!-- Intro Header -->
<header class="intro">
<div class="intro-body">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<h1 class="brand-heading">My Explorations</h1>
				<p class="intro-text">
					Interested to know? Just Scroll down
				</p>
				<a href="#contact" class="btn btn-circle page-scroll">
				<i class="fa fa-angle-double-down animated"></i>
				</a>
			</div>
		</div>
	</div>
</div>
</header>
<!-- Contact Section -->
<section id="explorations" style="padding:70px 20px;">
<style>.wrap {
    background: #fff;
    margin: 20px auto;
    display: block;
    width: 600px;
    height: 500px;
    padding:20px;
    border-radius: 2px 2px 2px 2px;
    -webkit-box-shadow: 0 1px 4px
    rgba(0, 0, 0, 0.3), 0 0 40px
    rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px
    rgba(0, 0, 0, 0.3), 0 0 40px
    rgba(0, 0, 0, 0.1) inset;
}

.wrap img {
    width: 100%;
    margin-top: 15px;
}
</style>
    <div class="wrap ">
       <h3>Autonomous Maze Exploring Robot</h3>
       <center><iframe width="427" height="240" src="https://www.youtube.com/embed/WYIUyVDhZAA" frameborder="0" allowfullscreen></iframe>
</center>
        <p>
            The achievements made in the project are:
            <ul>
        <li>Autonomously able to explore a 8mX8m maze in under 6 minutes(test environment)</li>
        <li>Calculate and complete the shortest path in under 20 seconds</li>
        <li>Successfully integrated multiple sub-systems to act in a cohesive manner. (Arduino, Rpi, Nexus Tablet, PC)</li>
    </ul>
       </p>
       <br />
</div>

        <div class="wrap ">
       <h3>Crisis Management System</h3>
       <center><img src="../static/cms.png" height="240" width="427"/></center>
        <p>
            The achievements made in the project are:
            <ul>
        <li>Successfully able to enter and manage different crisis</li>
        <li>Real time tracking of crisis and the ability to warn all subscribers to the event.</li>
        <li>Implemented in Python-Django MVT framework. Used: Facebook API, Google Fusion Tables API, ReportLab API</li>
    </ul>
            <a href="https://github.com/MADHAVAN001/CrisisManagementSystem">Code</a>|
            <a href="https://github.com/MADHAVAN001/CrisisManagementSystem/blob/master/Documentation/SRSv1.5.pdf">SRS</a>|
            <a href="https://github.com/MADHAVAN001/CrisisManagementSystem/blob/master/Documentation/Architecture%20Design.pdf">Architecture</a>|
            <a href="https://github.com/MADHAVAN001/CrisisManagementSystem/tree/master/Documentation">Other Documentation</a>
       </p>
       <br />
</div>

      <div class="wrap ">
       <h3>5 Stage Pipelined Architecture</h3>
       <center><img src="../static/cms.png" height="240" width="427"/></center>
        <p>
            The achievements made in the project are:
            <ul>
        <li>Successfully able to enter and manage different crisis</li>
        <li>Real time tracking of crisis and the ability to warn all subscribers to the event.</li>
        <li>Implemented in Python-Django MVT framework. Used: Facebook API, Google Fusion Tables API, ReportLab API</li>
    </ul>
            <a href="https://github.com/MADHAVAN001/CrisisManagementSystem">Code</a>|
            <a href="https://github.com/MADHAVAN001/CrisisManagementSystem/blob/master/Documentation/SRSv1.5.pdf">SRS</a>|
            <a href="https://github.com/MADHAVAN001/CrisisManagementSystem/blob/master/Documentation/Architecture%20Design.pdf">Architecture</a>|
            <a href="https://github.com/MADHAVAN001/CrisisManagementSystem/tree/master/Documentation">Other Documentation</a>
       </p>
       <br />
</div>

<div class="container" >
    <div class="col-lg-8 col-lg-offset-2" style="border:0px solid;">
    <p>I have been fortunate to have obtained the opportunity to visualize and explore many parts of the world. I have been to United States, Singapore, Malaysia,
    many parts of Europe(incl. Germany, Netherlands, Austria, Italy). I have been fascinated by these experience and have been overwhelmed in each of these places.
    </p>

    <p>Each individual place has taught me something new and has made me realize that more I travel, more I will know what I am missing.
    I am just too excited for the times up ahead. Below are some of the Insta moments!
</p>
        </div>

</div>
    <div id="X2N5MB6Z0Q"></div>
</section>
<!-- Footer -->
<footer>
<div class="container text-center">
	<p class="credits">
		Copyright &copy; Madhavan Seshadri<br/>
	</p>
</div>
</footer>
<!-- jQuery -->
<script src="../static/js/jquery.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="../static/js/bootstrap.min.js"></script>
<!-- Plugin JavaScript -->
<script src="../static/js/jquery.easing.min.js"></script>
<!-- Custom Theme JavaScript -->
<script src="../static/js/theme.js"></script>
</body>
</html>
{% endblock %}